* {
    text-align: center;
    text-decoration: none;
    color: white;
}
.nav-bar, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 99, 71, 0.5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    border-radius: 12px;
}
.nav-bar li {
    display: inline;
    padding: 10px;
    background-color: rgba(255, 99, 71, 0.9);
    border-radius: 15px;
    
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.services, .sermons {
    background-color: cadetblue;
    width: 70%;
    height: 200px;
    margin: 20px auto;
    padding-top: 20px;
    border-radius: 8px;
}
.about, .story, .vision, .locations {
    width: 80%;
    height: auto;
    margin: 20px auto;
    background-color: blueviolet;
    padding: 20px 20px 20px;
    border-radius: 20%;
}
/* ministries page */
.ministry {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.ministries {
    height: auto;
    width: 400px;
    background-color: brown;
    margin: 50px 10px;
    padding: 20px 20px 20px;
    border-radius: 10%;

    
}
button {
    color: darkgoldenrod;
    border: solid black;
    border-radius: 12px;
}
img {
    width: 30px;
    height: 30px;
}
li a:hover {
    color: rgb(103, 101, 101);
}
li a:active {
    color: white;
}

/* index section */
img.sunday-service {
    width: 600px;
    height: 400px;
}